body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.form-group {
  width: 200px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

form {
  display: flex;
}

.form-group + .form-group {
  margin-left: 50px;
}

input {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}
